*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
hs_err_pid*.log
replay_pid*.log
*.hprof

# Ejercicios sueltos de kotlin-basico/ y pruebas-practica/ compilados a mano (kotlinc)
kotlin-basico/**/*.jar
kotlin-basico/**/*.class
pruebas-practica/**/*.jar
pruebas-practica/**/*.class
